.article-list {/*будет заполнено*/
}

.article-list__item {
  padding-bottom: 30px;
}

.article-list__image-hare {
  width: 260px;
  height: 195px;
  background-image: url("../img/photo-hare-mobile@1x.jpg");
  /*
    background-image: url("../img/photo-hare-tablet@1x.jpg");
    background-image: url("../img/photo-hare-desktop@1x.jpg");
  */
}

.article-list__image-bowl {
  width: 260px;
  height: 195px;
  background-image: url("../img/photo-bowl-mobile@1x.jpg");
  /*
    background-image: url("../img/photo-bowl-tablet@1x.jpg");
    background-image: url("../img/photo-bowl-desktop@1x.jpg");
  */
}

.article-list__image-toys {
  width: 260px;
  height: 195px;
  background-image: url("../img/photo-toys-mobile@1x.jpg");
  /*
    background-image: url("../img/photo-toys-tablet@1x.jpg");
    background-image: url("../img/photo-toys-desktop@1x.jpg");
  */
}

.article-list__info {
  margin: 0;
  padding: 27px 27px 26px 28px;
  border: 1px solid @white-two;
}

.article-list__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: @black;
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
}

.article-list__text {
  font-size: 13px;
  line-height: 2.31;
  color: @dark-grey;
  margin: 0;
  padding: 0;
  padding-bottom: 18px;
}

.article-list__info-price {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 21px 0 0 0;
}

.article-list__price {
  margin: 0;
  padding: 0;
  padding-right: 109px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  color: @black;
}

.article-list__order-btn {
  margin: 0;
  padding: 0;
}
