.btn {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: center;
  color: @dark-grey;
  text-transform: uppercase;
  width: 259px;
  height: 52px;
  border: solid 2px @dark-grey;
  background-color: @white;
  display: table-cell;
  vertical-align: middle;
  font-family: inherit;
}
