.btn {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: @dark-grey;
  text-transform: uppercase;
  /*width: 259px;
  height: 52px;
  display: table-cell;
  vertical-align: middle;*/
  display: block;
  text-align: center;
  width: 100%;
  padding: 20px 0 20px 0;
  border: solid 2px @dark-grey;
  background-color: @white;
  font-family: inherit;
  cursor: pointer;
}

.btn--product {
  padding-top: 14px;
  padding-bottom: 15px;
}

.btn--main-footer {
  padding: 15px 0 12px 0;
}

.btn--modal-form {
  padding: 20px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: @seafoam-blue;
  outline: none;
  width: 100%;
}

.btn--modal-form:hover:not(:disabled),
.btn--modal-form:focus:not(:disabled) {
  background-color: @seafoam-blue;
}

@media (min-width: @tablet-width) {
  .btn--product {
    padding-top: 14px;
    padding-bottom: 15px;
  }

  .btn--reviews {
    width: 175px;
    padding: 14px 0 14px 0;
  }

  .btn--main-footer {
    padding: 15px 10px 12px 10px;
  }

  .btn--catalog-order {
    padding: 15px 0 14px 0;
  }
}

@media (min-width: @desktop-width) {
  .btn--product {
    padding-top: 14px;
    padding-bottom: 15px;
  }

  .btn--main-footer {
    padding-top: 18px;
    padding-bottom: 13px;
  }

  .btn--catalog-order {
    padding: 15px 0 14px 0;
  }
}
