.catalog {
  margin: 0 auto;
  padding: 30px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__order {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  border: 1px solid @white-two;
}

.catalog__video-block {
}

.catalog__order-btn {
  margin: 0 auto;
  padding: 0 0 32px 34px;


}
