.catalog {
  margin: 0 auto;
  padding: 30px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  padding-bottom: 30px;
}

.catalog__bottom {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  border: 1px solid @white-two;
}

.catalog__video {/*будет заполнено*/
}

.catalog__order {
  margin: 0 auto;
  padding: 0 0 32px 34px;
}

.catalog__order-btn{
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: center;
  color: @dark-grey;
  text-transform: uppercase;
  width: 191px;
  height: 51px;
  border: solid 1px @white-two;
  background-color: @white;
  display: table-cell;
  vertical-align: middle;
}
