.checkbox {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.checkbox__label {
  display: inline-block;
  min-height: 42px;
  margin: 0;
  padding: 11px 0 0 63px;
  cursor: pointer;
  position: relative;
}

.checkbox__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 37px;
  height: 35px;
  border: solid 2px @dark-grey;
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 16px;
}

@media (min-width: @tablet-width) {
  .checkbox {
    flex-basis: 50%;
    flex-grow: 1;

    font-size: 19px;
    font-weight: bold;
    line-height: 19px;
    margin-bottom: 20px;
  }

  .checkbox__label {
    padding: 14px 0 0 80px;
  }

  .checkbox__label::before {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: @desktop-width) {
  .checkbox {
    flex-basis: 33.3%;
  }
}
