.copyright {/*будет чем-то заполнено*/
}

.copyright__text {
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: normal;
  color: #000000;

  vertical-align: top;
  padding-right: 30px;
}

.copyright__link {
 /* наверное чем-то будет заполнено */
}

.copyright__hr{
  margin: 0 auto;
  padding: 0;
  border: 0;
  width: 260px;
  height: 1px;
  background: #e5e5e5;
}
