.copyright {

}

.copyright__text {
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-right: 30px;
}

.copyright__link {
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
}
