.hr-zigzag {
  background: url("../img/bg-zigzag-line.svg") repeat-x center;
  background-size: cover;
  border: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1050px;
  height: 7px;
  white-space: nowrap;
}


@media (min-width: @tablet-width) {
  .hr-zigzag {
    height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .hr-zigzag {
    height: 23px;
  }
}
