.icon-list {
  list-style: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: @black;
}

.icon-list__item {
  display: block;
  box-sizing: border-box;
  padding: 0;
  padding-top: 55px;
  padding-bottom: 28px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
  }
}

.icon-list__item--flower::before {
  width: 32px;
  height: 37px;
  background-image: url("../img/icon-feature-flower.svg");
}

.icon-list__item--money::before {
  width: 47px;
  height: 27px;
  background-image: url("../img/icon-feature-money.svg");
}

.icon-list__item--heart::before {
  width: 34px;
  height: 27px;
  background-image: url("../img/icon-feature-heart.svg");
}

.icon-list__item--circle::before {
  width: 35px;
  height: 34px;
  background-image: url("../img/icon-feature-ball.svg");
}

.icon-list__item--rocket::before {
  width: 55px;
  height: 23px;
  background-image: url("../img/icon-feature-rocket.svg");
}

.icon-list__item--present::before {
  width: 33px;
  height: 32px;
  background-image: url("../img/icon-feature-gift.svg");
}


@media (min-width: @tablet-width) {
  .icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
  }

  .icon-list__item {
    width: 50%;
    padding-right: 41px;
    padding-bottom: 55px;
    padding-top: 56px;
  }


  .icon-list__item--flower {
    order: 1;
  }

  .icon-list__item--money {
    order: 2;
  }

  .icon-list__item--heart {
    order: 4;
    padding-bottom: 0;
  }

  .icon-list__item--circle {
    order: 1;
  }

  .icon-list__item--rocket {
    order: 3;
  }

  .icon-list__item--present {
    order: 5;
    padding-bottom: 0;
  }

}

@media (min-width: @desktop-width) {
  .icon-list__item {
    width: 50%;
    padding-bottom: 58px;
    padding-top: 54px;
    padding-right: 59px;
  }
}
