.input {
  position: relative;
}

.input__field {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 17px;
  border: 0 none;
  border-bottom: 2px solid @black;
}

.input__field::placeholder {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: @greyish-brow;
}

.input__label {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  font-family: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: @black;
}

/*.input__wrapper {
  position: relative;
}*/

.input__image {
  position: absolute;
  cursor: pointer;
  right: 5px;
}
