.main__footer {
  background-color: @white;
  margin: 0;
  padding: 39px 30px 40px 30px;
}

.main__footer-btn {
  padding: 14px 34px 14px 29px;
}

@media (min-width: @tablet-width) {
  .main__footer {
    margin: 0;
    padding: 55px 272px 57px 271px;
  }
}

@media (min-width: @desktop-width) {
  .main__footer {
    margin: 0;
    margin-bottom: 105px;
    padding: 10px 695px 0 225px;
    z-index: 5;
  }

  .main__footer-btn {
    padding: 16px 34px 14px 33px;
  }
}
