.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav__delivery {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 88px;
  }

  .main-nav__delivery {
    display: block;
    order: 3;
    z-index: 5;
    margin-left: auto;
    margin-top: 24px;
    margin-right: 52px;
  }

  .main-nav {
    margin-bottom: -63px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 88px;
  }

  .main-nav__delivery {
    display: block;
    order: 4;
    z-index: 5;
    margin-left: auto;
    margin-top: 24px;
    margin-right: 52px;
  }

  .main-nav {
    margin-bottom: -89px;
  }
}
