.main-intro {
  margin: 0 auto;
  padding: 0;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: @white;
}

.main-intro__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: @very-dark-brown;
  display: block;
  margin: 0;
  padding: 76px 30px 120px;
}

.main-intro__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.main-intro__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-intro__link {
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: @white;
  padding: 30px 185px 30px 29px;
}

.main-intro__item-interior {
  background-color: @seafoam-blue;
}

.main-intro__item-toys {
  background-color: @greeny-blue;
}

.main-intro__link-interior {
  position: relative;
}

.main-intro__link-toys {
  position: relative;
}

.main-intro__link--interior-icon {
  position: absolute;
  top: 23px;
  right: 36px;
}

.main-intro__link--toys-icon {
  position: absolute;
  top: 21px;
  right: 27px;
}
