.main-intro{
  width: 320px;
  height: 373px;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;

  margin: 0 auto;
  padding: 0;


}
.main-intro__title {
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #010000;

  display: block;
  width: 244px;
  margin: auto;
  padding: 0;

}
.main-intro__list{}
.main-intro__item{}
