.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.modal--closed {
  display: none;
}

.modal__container {
  width: 100%;
  max-width: 566px;
  max-height: 336px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: solid 1px #c6c6c6;
  padding: 36px 30px 46px;
}

.modal__header {
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
}


@media (min-width: @tablet-width) {
  .modal__container {
    padding: 34px 105px 46px;
  }

  .modal__header {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .modal__header {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.9;
    margin-bottom: 14px;
  }

  .modal__container {
    padding: 34px 104px 46px;
  }
}
