.page-footer__wrapper {
  margin: 0 auto;
  padding: 25px 69px 36px 69px;
  width: 100%;
  box-sizing: border-box;
}

.page-footer {
  background-color: @very-dark-grey;
  margin: 0;
  padding: 0;
}

.page-footer__social {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

.page-footer__copyright {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo:hover path,
.page-footer__logo:focus path {
  cursor: pointer;
  fill: @greeny-blue-two;
}

.page-footer__logo:active path {
  cursor: pointer;
  fill: @greeny-blue-two;
  opacity: 0.3;
}

.page-footer__logo--current {
  cursor: default;
}

.page-footer__logo--current:hover path,
.page-footer__logo--current:focus path,
.page-footer__logo--current:active path {
  fill: @black;
  opacity: 100%;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 51px 50px 31px 50px;
  }

  .page-footer__logo {
    display: block;
    margin: 0;
    padding: 0;
  }

  .page-footer__social {
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }

  .page-footer__copyright {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__logo {
    margin: 0;
    padding: 0;
  }

  .page-footer__social {
    margin: 0;
    padding: 0;
    padding-top: 7px;
  }

  .page-footer__copyright {
    margin: 0;
    padding: 0;
  }
}
