.page-footer {
  /*width: 320px;
  height: 160px;*/
  background-color: #f1f1f1;
 /* box-sizing: border-box;*/
  margin: 0;
  padding: 0;
 /* padding-top: 25px;*/
  /*display: flex;
  flex-direction: column;*/
}

.page-footer__wrapper {/*будет заполнено*/
}

.page-footer__social {
  width: 100%;
  box-sizing: border-box;
  /*min-height: 55px;*/
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 25px 92px 27px 88px

 /* display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;*/
}

/*.page-footer__social::after {
  content: "";
  position: absolute;
  width: 260px;
  bottom: 0;
  border: 1px solid #e5e5e5;
  padding-left: 30px;
}*/

.page-footer__copyright {
  /*width: 320px;
  min-height: 80px;*/
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  padding: 22px 40px;
 /* padding-top: 22px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;*/
}
