.page-header {
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  margin: 0 auto;
  background-color: @white;
  padding-top: 22px;
  padding-bottom: 22px;
}

.page-header__logo-img {
  margin: 0 auto;
  padding: 0;
  width: 85px;
  height: 35px;
  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;
}

.page-header__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 20px;
  width: 20px;
  /*background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;*/
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
}

/*---------------------------------------------------------------*/
.page-header__toggle--active .page-header__burger-icon {
  display: none;
}

.page-header__toggle--active .page-header__close-icon {
  display: block;
}

.page-header__close-icon {
  display: none;
}


@media (max-width: @tablet-width/*@mobile-width*/) {
  .page-header--closed .page-header__mobile-nav {
    display: none;
  }
}


/*---------------------------------------------------------*/


@media (min-width: @tablet-width) {
  .page-header {
    background: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo {
    display: block;
    order: 0;
    margin: 0;
    padding: 22px 0 20px 51px;
  }

  .page-header__logo-img {
    margin: 0;
    padding: 0;
    width: 112px;
    height: 46px;
    background-image: url("../img/logo-tablet.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo {
    display: block;
    order: 1;
    margin: 0;
    padding: 8px 0 8px 31px;
  }

  .page-header__logo-img {
    margin: 0;
    padding: 0;
    width: 149px;
    height: 72px;
    background-image: url("../img/logo-desktop.svg");
    background-repeat: no-repeat;
  }
}
