.page-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

}

.page-header__logo {
  height: 79px;
  width: 320px;
  background-color: #ffffff;

  margin: 0 auto;
  padding: 0;

}

.page-header__logo-img {
  width: 86px;
  height: 35px;
  background-image: url("../../img/logo-mobile.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;

  margin-top: 22px;
  margin-left: 116px;

}

.page-header__wrapper {

}




