.page-main {
  background-color: @white;
}

.page-main__banner {
  margin: 0 auto;
  padding: 70px 35px 77px 35px;
  background-color: @very-dark-grey;
}

.page-main__title {
  margin: 0;
  padding: 0;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: @black;
}

.page-main__info {
  margin: 0;
  padding: 30px 48px 25px 30px;
}

.page-main__text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  color: @dark-grey;
}

.page-main__form {
  margin: 0;
  padding: 0;
}

.page-main__container{
  margin-top: 23px;
}

@media (min-width: @tablet-width) {
  .page-main {
    margin-top: -49px;
  }

  .page-main__contacts-container {
    margin-top: 58px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    margin-top: -66px;
  }

  .page-main__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 105px;
  }
  .page-main__contacts-container {
    display: flex;
    position: relative;
    margin-top: 71px;
    margin-bottom: -68px;
    padding-right: 50px;
    padding-left: 50px;
  }
}
