.product {
  background-color: @white;
}

.product__header-wrapper {
  margin: 0;
  padding: 0 30px;
}

.product__title {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 8px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: @black;
}

.product__subtitle {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: @seafoam-blue;
}

.product__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 33px;
}

.product__table {
  width: 100%;
  line-height: 20px;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.product__table-td {
  border-bottom: 1px solid @white-two;
  padding-top: 9px;
  padding-bottom: 9px;
}

.product__img {
  margin: 0;
  padding: 0;
}

.product__info {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  text-align: center;
}

.product__price {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
}


