.product {
  background-color: @white;
  margin: 0;
  padding: 0 30px;
}

.product__title {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 8px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: @black;
}

.product__subtitle {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: @seafoam-blue;
}

.product__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 33px;
}

.product__table {
  width: 100%;
  line-height: 20px;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.product__table-td {
  border-bottom: 1px solid @white-two;
  padding-top: 9px;
  padding-bottom: 9px;
}

.product__img-block {
  margin: 0;
  padding: 0;
  text-align: center;
}

.product__image {
  width: 100%;
}

.product__info {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  text-align: center;
}

.product__price {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
}

.product__main-wrapper {
  position: relative;
}

@media (min-width: @tablet-width) {

  .product__header-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 43px;
    margin-bottom: 55px;
  }

  .product__main-wrapper {
    padding-right: 412px;
  }

  .product__title {
    margin: 0;
    padding: 0;
    font-size: 43px;
    margin-right: 150px;
  }

  .product__subtitle {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    width: 100px;
    text-align: center;
    line-height: 17px;
  }

  .product__text {
    line-height: 30px;
    font-size: 17px;
    margin: 0;
    padding: 0;
    margin-bottom: 54px;
  }

  .product__table {
    margin-bottom: 59px;
  }

  .product__info {
    margin: 0;
    padding: 0;
    margin-bottom: 53px;
    line-height: 24px;
    font-size: 20px;
  }

  .product__img-block {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 2%;
    left: 50%;
  }
}
