.reviews {
  width: 320px;
  height: 761px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: flex-start; /*Центрирование по вертикали */

  border: 2px solid mediumvioletred;
}

.reviews__wrapper {

  margin: 0 auto;
  padding: 0;
}

.reviews__title {
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  margin: 0 auto;
  padding: 0;
  padding-top: -5px;
  min-height: 25px;
  display: block;
  box-sizing: border-box;

  width: 255px;
  margin-left: 29px;

  border: 2px solid mediumvioletred;
}

.reviews__write {


}

.reviews__list {
}

.reviews__item {
  margin: 0 auto;
  padding: 0;
}

.reviews__text {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  color: #444444;


  width: 255px;
  margin-left: 29px;
  border: 1px solid blueviolet;
}

.reviews__author {
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  width: 255px;
  margin-left: 29px;
}

.reviews__instagram {
  font-weight: normal;
  line-height: 1.76;
  color: #444444;
  width: 255px;
  margin-left: 29px;
}

.reviews_buttons {
}

.reviews__write {
}

.reviews__write-btn {
}
