.reviews {
  background-color: @white;
  box-sizing: border-box;
  margin: 0;
  padding: 0 30px 45px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.reviews__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: @black;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__text {
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.reviews__author {
  display: block;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: @black;
}

.reviews__instagram {
  font-weight: normal;
  line-height: 24px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.reviews__write {
  margin: 0;
  padding: 0;
}

.reviews__btn {
padding: 14px 20px;
}

@media (min-width: @tablet-width) {
  .reviews {
    padding: 79px 53px 0 49px;
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-position: left top;
    background-repeat: no-repeat;
  }


  .reviews__title {
    font-size: 43px;
    font-weight: bold;
    line-height: 1.16;
    padding: 0;
    margin: 0;
    margin-bottom: 49px;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 1.76;
    padding: 0;
    margin: 0;
    margin-bottom: 63px;
  }

  .reviews__author {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
  }

  .reviews__instagram {
    font-size: 17px;
    line-height: 1.76;
  }

  .reviews__write {
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    padding: 0 50px 0 50px;
    margin-bottom: 88px;
    position: relative;
    background: @white;
  }

  .reviews__wrapper {
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 174px;
    padding-top: 72px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 1.08;
    margin-bottom: 47px;
  }

  .reviews__author {
    font-size: 17px;
    line-height: 1.41;
  }

  .reviews__text {
    padding-right: 105px;
    margin-bottom: 42px;
  }

  .reviews__write {
    padding-top: 80px;
  }
}
