.site-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.site-list__item {
   display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ececec;
}

.site-list__item .site-list__item {
  border-top: 0;
}

.site-list__link {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;
  padding-right: 60px;

}

.site-list__link-search{
  position: relative;
}

.site-list__link-cart{
  position: relative;
}

.site-list__link--icon-search {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 32px;
  left: 32px;
}

.site-list__link--icon-cart {
  position: absolute;
  width: 20px;
  height: 19px;
  bottom: 32px;
  left: 32px;
}
