.site-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.site-list__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid @white-two;
}

.site-list__item + .site-list__item {
  border-top: 0;
}

.site-list__link {
  text-decoration: none;
  text-align: start;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: @black;
  padding: 27px 60px 27px 76px;
  position: relative;
  width: 100%;
}

.site-list__icon {
  position: absolute;
  width: 20px;
  height: 19px;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
}
