.slider {

  margin: 0 auto;
  padding: 0;
}

.slider__list {
}

.slider__item {
}

.slider__buttons {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.slider__prev {
  width: 130px;
  height: 52px;
  outline: none;
  border: 0;
  background-color: transparent;
  border: 1px solid #f1f1f1;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
}

.slider__next {
  width: 130px;
  height: 52px;
  outline: none;
  border: 0;
  background-color: transparent;
  border: 1px solid #f1f1f1;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
}
