.slider {
  margin: 0;
  padding: 0;
}

.slider__buttons {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider__btn {
  width: 100%;
  height: 52px;
  outline: none;
  background-color: transparent;
  border: 1px solid @very-dark-grey;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slider__btn--first {
  border-right: 0;
}

@media (min-width: @tablet-width) {
  .slider {
    position: relative;
  }

  .slider__buttons {
    position: absolute;
    top: 279px;
    right: 18px;
  }

  .slider__btn {
    border: none;
  }

  .slider__btn:first-child {
    margin-right: 37px;
  }
}

@media (min-width: @desktop-width) {
  .slider__buttons {
    top: 308px;
    right: 18px;
  }
}
