.slider {
  margin: 0;
  padding: 0;
}

.slider__list {/*будет заполнено*/
}

.slider__item {/*будет заполнено*/
}

.slider__buttons {
  margin: 0;
  padding: 0;
  display: flex;
}

.slider__prev {
  width: 130px;
  height: 52px;
  outline: none;
  background-color: transparent;
  border: 1px solid @very-dark-grey;
  border-right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slider__next {
  width: 130px;
  height: 52px;
  outline: none;
  background-color: transparent;
  border: 1px solid @very-dark-grey;
  margin: 0;
  padding: 0;
  cursor: pointer;

}
