.social { /*будет заполнено*/
}

.social__list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;

  /* justify-content: flex-end;*/


  /* align-items: flex-end;*/
  margin: 0;
  padding: 0;
  /*width: 100%;*/
}

.social__item {
  /*margin-right: 40px;*/
}
