.social {/*будет заполнено*/
}

.social__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  width: 100%;
}

.social__item {
  margin-right: 40px;
}

.social__link { /*будет заполнено*/
}

.social__link--vkontakte { /*будет заполнено*/
}

.social__link--facebook { /*будет заполнено*/
}

.social__link--instagram { /*будет заполнено*/
}
