.social__list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.social__item {
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link:hover path,
.social__link:focus path {
  fill: @greeny-blue-two;
}

.social__link:active path {
  fill: @greeny-blue-two;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .social__list {
    min-width: 178px;
    padding-left: 79px;
  }
}
