.top-banner{
  margin: 0 auto;
  padding: 76px 41px 74px 41px;
  background-color: @very-dark-grey;
}

.top-banner__title{
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: @black;
}
