.video {/*будет заполнено*/
}

.video__title {
  display: block;
  box-sizing: border-box;
  line-height: 25px;
  margin: 0;
  position: relative;
  padding: 23px 70px 26px 89px;
}

.video__title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 30px;
  left: 33px;
  background-image: url("../img/icon-video.svg");
}

.video__film {
  width: 260px;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
}

.video__subtitle {
  font-size: 13px;
  line-height: 1.85;
  margin: 0;
  padding: 25px 41px 25px 34px;
}


.video__btn{

}
